.article-card {
  max-height: 300px;
  width: 13rem;
  float: left;
  margin: 40px 65px 30px 60px;
  padding-bottom: 30px;
}

.article-card-image {
  width: 230px;
  height: 160px;
}

.article-card-body {
  width: 230px;
}
.article-card-description {
  height: 30px;
  padding: 20px;
  font-size: 0.9rem;
  margin: 0;
}

.article-card-title {
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0;
}

.article-card-button {
  padding-top: 20%;
}
